@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
  overflow-x: hidden;
}


body {
  @apply bg-gray-50 text-gray-800;
  /* padding-bottom: 56px; */
  position: relative;
  min-height: 100svh; /* NEW mobile-safe unit */
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* =========================
   CUSTOM ARTICLE SCROLLBAR
========================= */

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #f97316; /* Tailwind orange-500 */
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #ea580c; /* orange-600 */
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #f97316 transparent;
}
